---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Page";

const identity = {
  firstName: "Debis",
  country: "フィリピン",
  occupation: "Certified doomscroller",
  hobbies: ["photography", "tiktok", "mlbb"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
---

<BaseLayout pageTitle = {pageTitle}>
	<h1> hiii </h1>
        <h3> Wowie I'm using Astro! </h3>
		<h3> Here's a few fun facts about me </h3>
		<ul>
			<li>My name is {identity.firstName}, and I'm from {identity.country}</li>
			<li>My skills are</li>
			<ul>
				{skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>

