---
import { Image } from 'astro:assets';
import cat from './cat.jpg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1> happy birthday, lobster :3 </h1>
        <h3> thank you for being such a wonderful lobster </h3>
        <h3> know that i'm always so proud of all the thing u've done </h3>
        <h3> and i'm so excited for all the great things you'll be doing ahead </h3>
        <h3> keep shining, my sunshine :3 i love u </h3>

        <img src={cat.src} alt="A bird sitting on a nest of eggs.">
        
	</body>
</html>
